.App {
  text-align: center;
}

.form{
  padding: 10px 33%; /* Some padding */
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 10px;
}

.history-buttons{
  padding: 10px 33%; /* Some padding */
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #0b5ed7;
}
